@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --fontFamily: "Work Sans", sans-serif;
  --darkGray: #0D2438;
  --lightGray: #527A7A;
  --cyan: #0EB1D2;
  --lightCyan: #34E4EA;
  --azure: #E6EFEF;
  --bone: #CDC8B6;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily);
}

#app {
  background-color: var(--darkGray);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  color: var(--azure);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7vh;
  padding-bottom: 5vh;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: var(--azure);
  line-height: 1.6;
  letter-spacing: 1px;
}

#intro,
#about,
#contact {
  padding-top: 9%;
}

@media (min-width: 200px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    background-color: var(--darkGray);
  }
  .pedro-group {
    display: flex;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    align-items: center;
  }
  .pedro-group > h2 {
    font-size: 25px;
  }
  .pedro-group > a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cyan);
    border-radius: 50%;
    height: 6.5vh;
    width: 6.7vh;
    color: var(--cyan);
    background-color: var(--azure);
  }
  .pedro-group > a > i {
    font-size: 28px;
    font-weight: 800;
  }
  nav {
    width: 100%;
    position: relative;
  }
  nav > ul {
    display: none;
  }
  nav > .hamburger-menu {
    color: whitesmoke;
    position: relative;
    text-align: right;
    width: 100%;
  }
  nav > .hamburger-menu > summary {
    width: 30px;
    cursor: pointer;
    font-size: 25px;
  }
  .hamburger-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: flex-end;
    width: 100%;
    background-color: var(--lightGray);
    margin-top: 23px;
  }
  .hamburger-list > li {
    border-bottom: 1px solid var(--azure);
    padding: 3.1vh;
    width: 81%;
  }
  .hamburger-list > li > a {
    color: var(--azure);
    font-size: 22px;
    padding: 1vh;
  }
  .code-img > img {
    border-radius: 10px;
    width: 100%;
    height: 65vh;
  }
  .intro-group {
    row-gap: 2vh;
  }
  .intro-group > h1 {
    font-size: 30px;
    letter-spacing: 1px;
  }
  .intro-group > h3 {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: var(--bone);
  }
  .intro-group > span {
    display: flex;
    justify-content: center;
    padding-top: 7%;
    width: 100%;
  }
  .intro-container {
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
  }
  .resume-link {
    display: flex;
    justify-content: center;
    border: 1px solid var(--azure);
    padding: 1.6vh;
    width: 32%;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 8px;
    color: var(--darkGray);
    background-color: var(--cyan);
  }
  .project-title {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  .project-title > p {
    padding-bottom: 2%;
  }
  .project-title > section {
    display: flex;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  select {
    width: 20vh;
    border-radius: 8px;
    background-color: var(--lightGray);
    border: var(--azure);
    color: var(--azure);
    padding: 1.3vh;
  }
  select option {
    color: var(--azure);
  }
  .search-project {
    padding: 1.3vh;
    border-radius: 8px;
    border: 1px solid var(--darkGray);
    width: 30vh;
    background-color: var(--lightGray);
  }
  ::-moz-placeholder {
    color: var(--azure);
  }
  ::placeholder {
    color: var(--azure);
  }
  .card-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7vh;
  }
  .project-card > figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    padding: 2vh;
  }
  .project-card > figcaption > h3 {
    color: var(--darkGray);
    text-shadow: 2px 1px var(--azure);
    font-weight: 600;
  }
  .project-card > figcaption > h4 {
    color: var(--darkGray);
    letter-spacing: 1px;
    font-weight: 600;
  }
  .project-card > figcaption > aside > a {
    color: var(--darkGray);
    text-shadow: 1px 1px var(--azure);
    font-weight: 700;
    letter-spacing: 1px;
  }
  .project-card {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
    border-radius: 17px;
    width: 92%;
    background-color: var(--lightCyan);
  }
  .project-card > img {
    width: 100%;
    height: 40vh;
    border-radius: 17px 17px 0 0;
  }
  #about {
    row-gap: 7vh;
  }
  .about-figure {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    width: 92%;
  }
  .about-figure > img {
    border-radius: 10px;
    width: 100%;
    height: 50vh;
  }
  .about-figure > figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  .language-group {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    padding: 7vh 0 7vh 0;
    text-align: center;
    align-items: center;
    background-color: var(--lightGray);
  }
  .language-group > aside {
    border: 1px solid var(--cyan);
    border-radius: 10px;
    background-color: var(--azure);
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
    justify-content: center;
    width: 82%;
    height: 28vh;
    padding: 1.2rem;
  }
  .language-group > aside > p, .language-group > aside h3 {
    color: var(--darkGray);
  }
  .language-group > aside > p {
    font-weight: 500;
  }
  .language-group .span-icon > i {
    font-size: 50px;
  }
  .skills {
    row-gap: 6vh;
  }
  .skills > h2 {
    font-size: 30px;
  }
  .skills > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4vh;
  }
  .skills > ul > li {
    border: 1px solid var(--azure);
    border-radius: 10px;
    width: 90vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: var(--lightCyan);
  }
  footer {
    height: 40vh;
    justify-content: center;
    row-gap: 6vh;
    background-color: var(--darkGray);
    text-align: center;
  }
  footer > section {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  footer > section > h2 {
    font-size: 30px;
  }
  footer > section > ul {
    display: flex;
    -moz-column-gap: 6vh;
         column-gap: 6vh;
  }
  footer .fa-brands {
    font-size: 30px;
    color: var(--azure);
  }
  footer .footer-link {
    color: var(--lightCyan);
    font-weight: 700;
  }
  .back-to-top {
    border: 1px solid var(--cyan);
    background-color: var(--lightCyan);
    color: var(--darkGray);
    border-radius: 50%;
  }
  .back-to-top > i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 5vh;
    width: 5vh;
  }
  #contact {
    row-gap: 4vh;
    width: 100%;
  }
  #contact > h2 {
    font-size: 27px;
    width: 88%;
  }
  #contact > ul {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    width: 88%;
    padding-bottom: 8%;
  }
  .icon-detail > address {
    display: flex;
    -moz-column-gap: 2.5vh;
         column-gap: 2.5vh;
    color: var(--azure);
    font-size: 18px;
  }
  .icon-detail > a {
    display: flex;
    align-items: center;
    -moz-column-gap: 2.5vh;
         column-gap: 2.5vh;
    color: var(--azure);
    font-size: 18px;
  }
  .contact-icon {
    font-size: 20px;
    color: var(--lightCyan);
  }
  .contact-form {
    background-color: var(--azure);
    border-radius: 10px;
    padding: 5%;
    width: 78%;
    row-gap: 4vh;
  }
  .contact-form > h3 {
    color: var(--darkGray);
    font-weight: 700;
    font-size: 28px;
  }
  .contact-form > label {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    color: var(--darkGray);
    font-weight: 700;
    width: 100%;
    font-size: 1.2rem;
  }
  .contact-form > label > input {
    border-radius: 5px;
    border: none;
    background-color: var(--darkGray);
    padding: 2.5vh;
  }
  .contact-form > label > textarea {
    height: 20vh;
    border: none;
    background-color: var(--darkGray);
    padding: 2.5vh;
    border-radius: 5px;
  }
  .contact-form > label > textarea::-moz-placeholder {
    color: var(--lightGray);
  }
  .contact-form > label > textarea::placeholder {
    color: var(--lightGray);
  }
  .submit-button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .submit-button > input {
    border-radius: 5px;
    width: 40%;
    border: none;
    font-size: 20px;
    background-color: var(--cyan);
    color: var(--darkGray);
    font-weight: 700;
    padding: 1.5vh;
  }
  .dark {
    background-color: white;
  }
}
@media (min-width: 600px) {
  nav > details {
    display: none;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
  }
  .nav-list > li {
    font-size: 26px;
  }
  .nav-list > li > a {
    color: var(--azure);
  }
  .nav-list > li > a:hover {
    color: var(--lightCyan);
  }
  .pedro-group > a {
    height: 5.3vh;
    width: 5.5vh;
    color: var(--cyan);
    background-color: var(--azure);
  }
  .pedro-group > a > i {
    font-size: 38px;
    font-weight: 800;
  }
  .pedro-group > h2 {
    font-size: 30px;
  }
  .intro-group > h1 {
    text-align: left;
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .intro-group > h3 {
    text-align: left;
    font-size: 1.5rem;
  }
  .intro-group > span {
    justify-content: start;
    padding-top: 10%;
  }
  .resume-link {
    font-size: 22px;
    width: 60%;
    padding: 1.2vh;
    transition: 0.5s;
  }
  .resume-link:hover {
    background-color: var(--azure);
    color: var(--cyan);
  }
  #intro {
    padding-top: unset;
  }
  .intro-container {
    flex-direction: row;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
    align-items: center;
    justify-content: center;
    padding-top: 9%;
  }
  .code-img {
    width: 55%;
    height: 30vh;
  }
  .code-img > img {
    border-radius: 20px;
    height: 100%;
  }
  .project-title {
    width: 92%;
  }
  .project-title > h2 {
    font-size: 40px;
  }
  .project-title > p {
    font-size: 25px;
  }
  .project-title > section {
    width: 100%;
    justify-content: space-between;
  }
  .project-title > section > input {
    width: 37%;
  }
  select {
    width: 25%;
    font-size: 17px;
  }
  ::-moz-placeholder {
    font-size: 16px;
  }
  ::placeholder {
    font-size: 16px;
  }
  .card-group {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 4vh;
         column-gap: 4vh;
    flex-wrap: wrap;
    width: 100%;
  }
  .project-card {
    width: 43%;
    row-gap: unset;
  }
  .project-card > img {
    height: 25vh;
  }
  .project-card > figcaption {
    font-size: 17px;
    padding: unset;
    height: 10vh;
    justify-content: center;
  }
  .project-card > figcaption > h3 {
    width: 100%;
    text-align: center;
  }
  .about-figure > figcaption {
    font-size: 27px;
  }
  .language-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;
  }
  .language-group > aside {
    width: 40%;
    height: 24vh;
    font-size: 20px;
  }
  .language-group > aside > h3 {
    font-size: 27px;
  }
  .language-group > h2 {
    font-size: 35px;
    width: 80%;
    padding-bottom: 1.5rem;
  }
  .language-group .span-icon > i {
    font-size: 60px;
  }
  .skills > h2 {
    font-size: 40px;
  }
  .skills > ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 3vh;
         column-gap: 3vh;
  }
  .skills > ul > li {
    width: 45%;
    font-size: 1.8rem;
  }
  #contact > h2 {
    text-align: center;
    font-size: 37px;
  }
  #contact > ul {
    align-items: center;
  }
  .icon-detail > address {
    font-size: 24px;
    width: 100%;
  }
  .icon-detail > a {
    font-size: 24px;
  }
  .icon-detail:nth-child(2) {
    padding-left: 10%;
  }
  .icon-detail:last-child {
    padding-right: 2%;
  }
  .contact-form {
    width: 65%;
  }
  .contact-form > h3 {
    font-size: 35px;
  }
  .contact-form > label {
    font-size: 1.5rem;
  }
  .contact-form .submit-button > input {
    font-size: 26px;
  }
  .contact-icon {
    font-size: 26px;
  }
  footer {
    height: 32vh;
  }
  footer > section > h2 {
    font-size: 45px;
  }
  footer .fa-brands {
    font-size: 40px;
  }
  footer > article {
    display: flex;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  header {
    justify-content: center;
  }
  .pedro-group > a {
    height: 6vh;
    width: 6.2vh;
  }
  .pedro-group > a > i {
    font-size: 30px;
  }
  nav {
    width: 80%;
  }
  .nav-list {
    -moz-column-gap: 8vh;
         column-gap: 8vh;
  }
  .nav-list > li {
    font-size: 26px;
  }
  .intro-container {
    width: 90%;
    justify-content: space-between;
    padding-top: 7%;
  }
  .code-img {
    height: 65vh;
    width: 65%;
  }
  #intro {
    padding-top: 8vh;
  }
  #intro > h1 {
    font-size: 50px;
  }
  #intro > h3 {
    width: 100%;
    font-weight: 400;
    font-size: 30px;
  }
  #intro > span {
    padding-top: 15%;
  }
  #intro .resume-link {
    padding: 2vh;
  }
  .project-card {
    width: 27%;
  }
  .project-card > figcaption {
    height: 18vh;
    font-size: 20px;
  }
  .project-card > img {
    height: 45vh;
  }
  .project-title {
    padding-top: 8vh;
  }
  .project-title > section {
    width: 98%;
  }
  .project-title > section > input {
    width: 25%;
    padding: 2.5vh;
  }
  .project-title > h2 {
    font-size: 45px;
  }
  .card-group {
    gap: 9vh;
    width: 100%;
  }
  .border {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .border > h6 {
    border: 1px solid var(--azure);
    width: 89%;
  }
  select {
    width: 15%;
  }
  #about, #contact {
    padding-top: 6%;
  }
  .about-figure {
    flex-direction: row;
    -moz-column-gap: 5vh;
         column-gap: 5vh;
    width: 90%;
  }
  .language-group {
    gap: 7vh;
  }
  .language-group > aside {
    height: 35vh;
    width: 30%;
  }
  .language-group > h2 {
    font-size: 38px;
  }
  .skills > ul {
    gap: 7vh;
  }
  .skills > ul > li {
    width: 43%;
    height: 12vh;
    font-size: 2.1rem;
  }
  .skills > h2 {
    font-size: 45px;
  }
  #contact > ul {
    padding-bottom: 4vh;
  }
  .icon-detail:nth-child(2) {
    padding-right: 5.5%;
  }
  .contact-form {
    width: 50%;
    padding: 3%;
    border-radius: 14px;
  }
  [type=submit] {
    cursor: pointer;
  }
  [type=submit]:hover {
    background-color: var(--lightCyan);
  }
}/*# sourceMappingURL=style.css.map */