@media (min-width: 200px) {
   header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2vh;
      background-color: var(--darkGray);
   }
   .pedro-group {
      display: flex;
      column-gap: 2vh;
      align-items: center;
      > h2 {
         font-size: 25px;
      }
   }
   .pedro-group > a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--cyan);
      border-radius: 50%;
      height: 6.5vh;
      width: 6.7vh;
      color: var(--cyan);
      background-color: var(--azure);
      > i {
         font-size: 28px;
         font-weight: 800;
      }
   }
   nav {
      width: 100%;
      position: relative;
      > ul {
         display: none;
      }
      > .hamburger-menu {
         color: whitesmoke;
         position: relative;
         text-align: right;
         width: 100%;
         > summary {
            width: 30px;
            cursor: pointer;
            font-size: 25px;
         }
      }
   }
   .hamburger-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      row-gap: 2vh;
      align-items: flex-end;
      width: 100%;
      background-color: var(--lightGray);
      margin-top: 23px;
      > li {
         border-bottom: 1px solid var(--azure);
         padding: 3.1vh;
         width: 81%;
         > a {
            color: var(--azure);
            font-size: 22px;
            padding: 1vh;
         }
      }
   }
   .code-img{
      > img {
         border-radius: 10px;
         width: 100%;
         height: 65vh;
      }
   }
   .intro-group {
      row-gap: 2vh;
      > h1 {
         font-size: 30px;
         letter-spacing: 1px;
      }
      > h3 {
         font-size: 20px;
         font-weight: 300; 
         text-align: center;
         color: var(--bone);
      }
      > span {
         display: flex;
         justify-content: center;
         padding-top: 7%;
         width: 100%;
      }
   }
   .intro-container {
      display: flex;
      flex-direction: column;
      row-gap: 10vh;
   }

   .resume-link {
      display: flex;
      justify-content: center;
      border: 1px solid var(--azure);
      padding: 1.6vh;
      width: 32%;
      font-weight: 600;
      font-size: 1.1rem;
      border-radius: 8px;
      color: var(--darkGray);
      background-color: var(--cyan);
   }

   .project-title {
      display: flex;
      flex-direction: column;
      row-gap: 3vh;
      > p {
         padding-bottom: 2%;
      }
      > section {
         display: flex;
         column-gap: 2vh;
      }
   }
   select {
      width: 20vh;
      border-radius: 8px;
      background-color: var(--lightGray);
      border: var(--azure);
      color: var(--azure);
      padding: 1.3vh;
      option {
         color: var(--azure);
      }
   }
   .search-project {
      padding: 1.3vh;
      border-radius: 8px;
      border: 1px solid var(--darkGray);
      width: 30vh;
      background-color: var(--lightGray);
   }
   ::placeholder {
      color: var(--azure);
   }
   .card-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 7vh;
   }
   .project-card > figcaption {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 6px;
      padding: 2vh;
      > h3 {
         color: var(--darkGray);
         text-shadow: 2px 1px var(--azure);
         font-weight: 600; 
      }
      > h4 {
         color: var(--darkGray);
         letter-spacing: 1px;
         font-weight: 600;
      }
      > aside {
         > a {
            color: var(--darkGray);
            text-shadow: 1px 1px var(--azure);
            font-weight: 700;
            letter-spacing: 1px;
         }
      }
   }
   .project-card {
      display: flex;
      flex-direction: column;
      row-gap: 1vh;
      align-items: center;
      border-radius: 17px;
      width: 92%;
      background-color: var(--lightCyan);
      > img {
         width: 100%;
         height: 40vh;
         border-radius: 17px 17px 0 0;
      }
   }
   #about {
      row-gap: 7vh;
   }
   .about-figure {
      display: flex;
      flex-direction: column;
      row-gap: 4vh;
      width: 92%;
      > img {
         border-radius: 10px;
         width: 100%;
         height: 50vh;
      }
      > figcaption {
         display: flex;
         flex-direction: column;
         row-gap: 3vh;
      }
   }
   .language-group {
      display: flex;
      flex-direction: column;
      row-gap: 5vh;
      padding: 7vh 0 7vh 0;
      text-align: center;
      align-items: center;
      background-color: var(--lightGray);
      > aside {
         border: 1px solid var(--cyan);
         border-radius: 10px;
         background-color: var(--azure);
         display: flex;
         flex-direction: column;
         row-gap: 1.5vh;
         justify-content: center;
         width: 82%;
         height: 28vh;
         padding: 1.2rem;
         > p, h3 {
            color: var(--darkGray);
         }
         > p {
            font-weight: 500;
         }
        
      }
      .span-icon {
         > i {
            font-size: 50px;
         }
      }
   }
   .skills {
      row-gap: 6vh;
      > h2 {
         font-size: 30px;
      }
      > ul {
         display: flex;
         flex-direction: column;
         align-items: center;
         row-gap: 4vh;
         > li {
            border: 1px solid var(--azure);
            border-radius: 10px;
            width: 90vw;
            height: 8vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            font-weight: 600;
            text-transform: capitalize;
            background-color: var(--lightCyan);
         }
      }
   }
   footer {
      height: 40vh;
      justify-content: center;
      row-gap: 6vh;
      background-color: var(--darkGray);
      text-align: center;
      > section {
         display: flex;
         flex-direction: column;
         row-gap: 5vh;
         > h2 {
            font-size: 30px;
         }
         > ul {
            display: flex;
            column-gap: 6vh;
         }
      }
      .fa-brands {
         font-size: 30px;
         color: var(--azure);
      }
      .footer-link {
         color: var(--lightCyan);
         font-weight: 700;
      }
   }
   .back-to-top {
      border: 1px solid var(--cyan);
      background-color: var(--lightCyan);
      color: var(--darkGray);
      border-radius: 50%;
      > i {
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 25px;
         height: 5vh;
         width: 5vh;
      }
   }

   #contact {
      row-gap: 4vh;
      width: 100%;
      > h2 {
         font-size: 27px;
         width: 88%;
      }
      > ul {
         display: flex;
         flex-direction: column;
         row-gap: 4vh;
         width: 88%;
         padding-bottom: 8%;
      }
   }
   .icon-detail {
      > address {
         display: flex;
         column-gap: 2.5vh;
         color: var(--azure);
         font-size: 18px;
      }
      > a {
         display: flex;
         align-items: center;
         column-gap: 2.5vh;
         color: var(--azure);
         font-size: 18px;
      }
   }
   .contact-icon {
      font-size: 20px;
      color: var(--lightCyan);
   }

   .contact-form {
      background-color: var(--azure);
      border-radius: 10px;
      padding: 5%;
      width: 78%;
      row-gap: 4vh;
      > h3 {
         color: var(--darkGray);
         font-weight: 700;
         font-size: 28px;
      }
      > label {
         display: flex;
         flex-direction: column;
         row-gap: 1vh;
         color: var(--darkGray);
         font-weight: 700;
         width: 100%;
         font-size: 1.2rem;
         > input {
            border-radius: 5px;
            border: none;
            background-color: var(--darkGray);
            padding: 2.5vh;
         }
         > textarea {
            height: 20vh;
            border: none;
            background-color: var(--darkGray);
            padding: 2.5vh;
            border-radius: 5px;
         }
         > textarea::placeholder {
            color: var(--lightGray);
         }
      }
   }
   .submit-button {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      > input {
         border-radius: 5px;
         width: 40%;
         border: none;
         font-size: 20px;
         background-color: var(--cyan);
         color: var(--darkGray);
         font-weight: 700;
         padding: 1.5vh;
      }
   }
   .dark {
      background-color: white;
   }
}
