@media (min-width: 600px) {
   nav {
      > details {
         display: none;
      }
   }
   .nav-list {
      display: flex;
      justify-content: center;
      column-gap: 5vh;
      > li {
         font-size: 26px;
         > a {
            color: var(--azure);
            &:hover {
               color: var(--lightCyan);
            }
         }
      }
   }
   .pedro-group {
      > a {
         height: 5.3vh;
         width: 5.5vh;
         color: var(--cyan);
         background-color: var(--azure);
         > i {
            font-size: 38px;
            font-weight: 800;
         }
      }
      > h2 {
         font-size: 30px;
      }
   }
   .intro-group {
      > h1 {
         text-align: left;
         width: 100%;
         font-size: 2rem;
         text-transform: uppercase;
      }
      > h3 {
         text-align: left;
         font-size: 1.5rem;
      }
      > span{
         justify-content: start;
         padding-top: 10%;
      }
   }
   .resume-link {
      font-size: 22px;
      width: 60%;
      padding: 1.2vh;
      transition: .5s;
      &:hover {
         background-color: var(--azure);
         color: var(--cyan);
      }
   }

   #intro {
      padding-top: unset;
   }

   .intro-container {
      flex-direction: row;
      column-gap: 5vh;
      align-items: center;
      justify-content: center;
      padding-top: 9%;
   }
   .code-img {
      width: 55%;
      height: 30vh;
      > img {
         border-radius: 20px;
         height: 100%;
      }
   }
   .project-title {
      width: 92%;
      > h2 {
         font-size: 40px;
      }
      > p {
         font-size: 25px;
      }
      > section {
         width: 100%;
         justify-content: space-between;
         > input {
            width: 37%;
         }
      }
   }
   select {
      width: 25%;
      font-size: 17px;
   }

   ::placeholder {
      font-size: 16px;
   }

   .card-group {
      flex-direction: row;
      justify-content: center;
      column-gap: 4vh;
      flex-wrap: wrap;
      width: 100%;
   }

   .project-card {
      width: 43%;
      row-gap: unset;
      > img {
         height: 25vh;
      }
      > figcaption {
         > h3 {
            width: 100%;
            text-align: center;
         }
         font-size: 17px;
         padding: unset;
         height: 10vh;
         justify-content: center;
      }
   }

   .about-figure {
      > figcaption {
         font-size: 27px;
      }
   }
   
   
   .language-group {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3vh;
      > aside {
         width: 40%;
         height: 24vh;
         font-size: 20px;
         > h3 {
            font-size: 27px;
         }
      }
      > h2 {
         font-size: 35px;
         width: 80%;
         padding-bottom: 1.5rem;
      }
      .span-icon {
         > i {
            font-size: 60px;
         }
      }
   }

   .skills {
      > h2 {
         font-size: 40px;
      }
      > ul {
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
         column-gap: 3vh;
         > li {
            width: 45%;
            font-size: 1.8rem;
         }
      }
   }

   #contact {
      > h2 {
         text-align: center;
         font-size: 37px;
      }
      > ul {
         align-items: center;
      }
   }
   .icon-detail {
      > address {
         font-size: 24px;
         width: 100%;
      }
      > a {
         font-size: 24px;
      }
   }
   .icon-detail:nth-child(2) {
      padding-left: 10%;
   }

   .icon-detail:last-child {
      padding-right: 2%;
   }

   .contact-form {
      width: 65%;
      > h3 {
         font-size: 35px;
      }
      > label {
         font-size: 1.5rem;
      }
      .submit-button {
         > input {
            font-size: 26px;
         }
      }
   }

   .contact-icon {
      font-size: 26px;
   }
   
   footer {
      height: 32vh;
      > section {
         > h2 {
            font-size: 45px;
         }
      }
      .fa-brands {
         font-size: 40px;
      }
      > article {
         display: flex;
         column-gap: 2vh;
         font-size: 20px;
      }
   }
}
