@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
   --fontFamily: 'Work Sans', sans-serif;
   --darkGray: #0D2438;
   --lightGray: #527A7A;
   --cyan: #0EB1D2;
   --lightCyan: #34E4EA;
   --azure: #E6EFEF;
   --bone: #CDC8B6;
}